<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Detours" version="4.0.1" targetFramework="native" developmentDependency="true" />
  <package id="fmt" version="7.0.1" targetFramework="native" />
  <package id="FW1FontWrapper" version="1.1.2017.317" targetFramework="native" />
  <package id="Microsoft.DXSDK.D3DX" version="9.29.952.8" targetFramework="native" />
</packages>