[submodule "external/OpenXR-SDK-Source"]
	path = external/OpenXR-SDK-Source
	url = https://github.com/KhronosGroup/OpenXR-SDK-Source.git
[submodule "external/OpenXR-MixedReality"]
	path = external/OpenXR-MixedReality
	url = https://github.com/microsoft/OpenXR-MixedReality.git
[submodule "external/OpenXR-SDK"]
	path = external/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
[submodule "external/NVIDIAImageScaling"]
	path = external/NVIDIAImageScaling
	url = https://github.com/NVIDIAGameWorks/NVIDIAImageScaling/
[submodule "external/FidelityFX-FSR"]
	path = external/FidelityFX-FSR
	url = https://github.com/GPUOpen-Effects/FidelityFX-FSR.git
[submodule "external/NVAPI"]
	path = external/NVAPI
	url = https://github.com/mbucchia/NVAPI.git
