<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="Silk.NET.Core" version="2.11.0" targetFramework="net472" />
  <package id="Silk.NET.Maths" version="2.11.0" targetFramework="net472" />
  <package id="Silk.NET.OpenXR" version="2.11.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net472" />
  <package id="Ultz.Bcl.Half" version="1.0.0" targetFramework="net472" />
  <package id="Ultz.Bcl.Half.Fallback" version="1.0.0" targetFramework="net472" />
</packages>